# requirements.in
crepe
demucs
ffmpeg_python
git+https://github.com/m-bain/whisperx.git
langcodes
language-data
librosa~=0.9.2
matplotlib~=3.9.2
musicbrainzngs
numpy
Pillow
pretty_midi
pydub
#PyHyphen
PyHyphen-Reloaded
python_Levenshtein
scipy
tensorflow==2.10
tqdm
#whisperx
yt_dlp
isort
black
pylint
pytest
protobuf
packaging
music21
unidecode
dataclasses
dataclasses_json
num2words
inputimeout