crepe==0.0.13
librosa==0.9.2
pretty_midi==0.2.9
pydub==0.25.1
Levenshtein==0.20.9
scipy==1.10.0
vosk==0.3.45
tensorflow==2.11.0
matplotlib~=3.6.3
yt_dlp~=2023.1.6
yt_dlp~=2023.1.6
pyphen~=0.13.2numpy~=1.23.5
git+https://github.com/linto-ai/whisper-timestamped