crepe==0.0.13
librosa==0.9.2
pretty_midi~=0.2.10
pydub==0.25.1
Levenshtein~=0.21.0
scipy~=1.10.1
vosk==0.3.45
tensorflow~=2.12.0
#tensorflow-directml-plugin~=0.4.0.dev230202
#cudatoolkit==11.8.0
matplotlib~=3.7.1
yt_dlp~=2023.3.4
numpy~=1.23.5
git+https://github.com/linto-ai/whisper-timestamped
PyHyphen~=4.0.3
demucs~=4.0.0
tqdm~=4.65.0