# requirements.in

# HOW TO USE:
# Change the tensorflow version for each OS
#   pip-compile -o requirements-linux.txt
#   pip-compile -o requirements-windows.txt
# Update Package
#   pip-compile -P yt_dlp
# Update all packages
#   pip-compile -U

# Pitching
crepe
# machine learning platform (used for crepe)
# This is only compatible with Python 3.10 and older
# 2.10 is only needed for windows GPU support
# WINDOWS
#tensorflow==2.10
# LINUX
tensorflow

# Audio to wavefile (used for crepe)
scipy

# Transcription
whisperx
#git+https://github.com/m-bain/whisperx.git
# Convert numbers to words in multilanguage (Used because of whisper)
num2words
# User imput timeout (used in whisper)
inputimeout

# langcodes for creates the language name from the language code. Used for Ultrastar txt
langcodes
# Version handling (Used in UltraStar txt)
packaging

# Audio analysis
librosa~=0.9.2
# Audio manipulation
pydub
# Audio Separation
demucs
# Ffmpeg wrapper
ffmpeg_python

# Plot engine
matplotlib

# For getting additional song info like cover, genre, year
musicbrainzngs
# For distance calculation (used in musicbrainz_client)
python_Levenshtein

# For midi file handling
pretty_midi
# Convert Unicode to ascii (used for midi)
unidecode

# For text hyphenation
#PyHyphen
pyhyphen

# Progress bar
tqdm

# yt
yt_dlp

# external cleanup tools
## Sort imports
isort
## Code formatter
black
## Code analyser
pylint

# For Tests
pytest

# Musical Analysis and Computational Musicology (Used for sheet)
music21

# Data structure
dataclasses
dataclasses_json

# Array support
numpy<2